.ShowreelPage {
  background-color: #1e2329;
  padding: 40px 20px;
  min-height: 100vh;
  color: white;
}

.ShowreelPage h1 {
  text-align: center;
  margin-bottom: 30px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.video-container iframe {
  max-width: 100%;
  border-radius: 10px; /* Add rounded corners */
  overflow: hidden; /* Ensure the video doesn't overflow the rounded corners */
}

.showreel-description {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.showreel-description p {
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #b3b3b3;
}
